<!DOCTYPE html>
<html lang="ru" >
	<head>
  		<meta charset="UTF-8">
  		<title>ОмГТУ | Мероприятия и Научные работы</title>
  		<link rel="stylesheet" href="/assets/css/common.min.css">
  		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
	</head>
	<body>