<%- include partials/header.ejs %>

<div id="cal">
 	<header class="row">
		<img src="./assets/img/100x.png" height="90">
		
	</header>
    <h2>Ошибка 404. Страница не найдена</h2>
    <div class="row">
        <p>К сожалению, запрашиваемая вами страница не была найдена.</p>
    </div>
</div>

<%- include partials/footer.ejs %>