<%- include partials/header.ejs %>

<div id="cal" action="/login" method="post">
 	<header class="row">
		<img src="./assets/img/100x.png" height="90">
		
	</header>
    <h2>Ошибка 500. Внутренняя ошибка сервера.</h2>
    <div class="row">
        <p>К сожалению, при работе с сервером возникла непредвиденная ошибка. Попробуйте снова через несколько минут.</p>
    </div>
</div>

<%- include partials/footer.ejs %>